@import url("fonts/fonts.css");

:root
{
  /* NORMAL BUTTONS */
  --nor-button-background-color: rgb(167, 18, 18);
  --nor-button-color: rgb(27, 27, 27);
  /* ----- */
  --nor-button-border-color: black;
  --nor-button-border-style: none;
  --nor-button-border-width: 0;
  --nor-button-border-radius: 12px;
  /* ----- */
  --nor-button-font-family: TekoMedium;
  --nor-button-font-size: 1.7rem;
  /* --nor-button-font-weight: ; NOT NEEDED */
  /* ----- */
  --nor-button-hover-background-color: rgb(150, 17, 17);
  /* --nor-button-hover-color: ; NOT NEEDED */
  /* ----- */
  --nor-button-active-background-color: rgb(173, 18, 18);
  /* --nor-button-active-color: ; NOT NEEDED */


  /* PRO BUTTONS */
  --pro-button-background-color: linear-gradient(to top, rgb(229, 67, 30), rgb(255, 123, 0));
  --pro-button-color: black;
  /* ----- */
  --pro-button-border-color: black;
  --pro-button-border-style: none;
  --pro-button-border-width: 0;
  --pro-button-border-radius: 12px;
  /* ----- */
  --pro-button-font-family: TekoBold;
  --pro-button-font-size: 1.7rem;
  /* --pro-button-font-weight: ; NOT NEEDED */
  /* ----- */
  --pro-button-box-shadow-color: rgb(255, 123, 0);
  /* ----- */
  /* --pro-button-hover-background-color: ; NOT NEEDED*/
  /* --pro-button-hover-color: ; NOT NEEDED */
  /* ----- */
  /* --pro-button-active-background-color: ; NOT NEEDED */
  /* --pro-button-active-color: ; NOT NEEDED */
}

body
{
  background-color: rgb(60, 40, 93);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 100%;
  height: 100vh;

  transition: 0.3s;
}

*
{
  transition: 0.17s;
  padding: 0;
  margin: 0;
}