@import url("fonts/fonts.css");

:root
{
  --nor-button-background-color: ;
  --nor-button-color: ;
  --nor-button-border-color: ;
  --nor-button-border-style: ;
  --nor-button-border-width: ;
  --nor-button-border-radius: ;
  --nor-button-font-family: ;

  --pro-button-background-color: ;
  --pro-button-color: ;
  --pro-button-border-color: ;
  --pro-button-border-style: ;
  --pro-button-border-width: ;
  --pro-button-border-radius: ;
  --pro-button-font-family: ;
}

body
{
  background-color: var(--dark-indigo);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  width: 100%;
  height: 100vh;

  transition: 0.3s;
}

*
{
  transition: 0.17s;
  padding: 0;
  margin: 0;
}